<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209716118926-ufhsoo9rp1ispl7qt4bc1fq9mndlvpus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209716118926-ufhsoo9rp1ispl7qt4bc1fq9mndlvpus</string>
	<key>API_KEY</key>
	<string>AIzaSyCNFXQEusscDhCpKpbn5zT0C9OQJCNGSg8</string>
	<key>GCM_SENDER_ID</key>
	<string>209716118926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sel0373</string>
	<key>PROJECT_ID</key>
	<string>porteiroeletronico-sel0373</string>
	<key>STORAGE_BUCKET</key>
	<string>porteiroeletronico-sel0373.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209716118926:ios:37da8a10ec210db1c590df</string>
</dict>
</plist>